.container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0 rgb(0 0 0 / 0.15);
}

.contents {
  flex: 1;
  display: flex;
  gap: 8px;
  align-items: center;
}
.contents > input[type="text"] {
  flex: 1;
  padding: 10px;
  border-width: 0 0 1px 0;
  border-color: rgb(220, 220, 220);
}

.title_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.time {
  font-size: 12px;
  color: #999;
}
.title.checked {
  text-decoration: line-through;
}

.buttons {
  display: flex;
  gap: 5px;
}
.buttons > button {
  border: none;
  background-color: transparent;
}
.buttons > button.delete_btn {
  color: red;
}
